@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800');
body  {
  font-family: 'Open Sans', 'Helvetica Nueue', Helvetica, Arial, sans-serif;
  font-size: 1rem;
  font-weight: 100;
  color: #555459;
  line-height: 1.4rem;
  *zoom: 1;
}
body {
    margin: 0;
}
.content {
    padding: 6px;
}
.checkbox {
    width: 14px;
    height: 14px;
}
.hyperlink {
    cursor: pointer;
}
.hyperlink.cuesheet {
    color: darkgreen;
}
.hyperlink a{
    /*color: #447e9b;*/
    text-decoration: none;
    cursor: pointer;
}
.artiest a {
    color: green;
}
.album-image {
    height: 360px;
    float: left;
    margin: 0 4px 16px 0;
}
.album-image-thumb {
    height: 160px;
}
.album-image.expanded {
    height: 560px;
}
nav {
    background-color: rgba(21,21,100,.90);
    color: #212124;
}
nav a {
    text-decoration: none;
    color: #fff;
    padding: 16px;
    display: inline-block;
    cursor: default;
}
nav a:not(.selected):hover {
    background-color: blue;
    cursor: pointer;
}
nav a.selected {
    box-shadow: inset 0 -8px 0 0 #558;
}
.album-list li {
    float: left;
    width: 200px;
    height: 230px;
    list-style: none;
    overflow-y: hidden;
}
.toggle-content,
.toggle-edit,
.toggle-cue {
    cursor: pointer;
    font-size: 18px !important;
}
.content.stukken {
    display: none;
}
.content.cue {
    /*display: none;*/
}
.clear {
    clear: both;
}
.tt-menu {
    background: #fff;
}
.album ul {
    margin-top: 0;
}
.album .content.stukken {
    margin-top: -20px;
}
.album fieldset {
    width: 220px;
    display: inline-block;
}
.instrument-image {
    height: 200px;
    position: absolute;
    clip: rect(0px,200px,200px,0px);
}
.instruments-list li {
    float: left;
    width: 200px;
    height: 230px;
    list-style: none;
}
.mother-album {
    /*box-shadow: -1px -1px 1px red;*/
    background: #efefff;
}
.tags li {
    list-style: none;
}
.tag div.remove,
.componist .remove,
.performer .remove,
.instrument .remove {
    display: none;
    cursor: pointer;
    position: absolute;
    opacity: .8;
}
.tag:hover div.remove,
.componist:hover .remove,
.performer:hover .remove,
.instrument:hover .remove {
    display: inline-block;
}
fieldset {
    color: rgba(21,21,100,.90);
}
.left-pane {
    float: left;
}
.edit-album {
    font-size: 14px;
}
.edit-album select,
.edit-album button {
    font-size: 12px;
}
.title {
    width: 80%;
}
.cue-header {
    color: brown;
}
.cue-plus {
    cursor: pointer;
}
.cue-header .cue-plus {
    display: none;
}
.cue-header:hover .cue-plus {
    display: inline-block;
}
.content.edit {
    display: none;
}
.btn {
    border: 1px solid #efefef;
    padding: 3px;
    display: inline-block;
    border-radius: 3px;
    margin-top: 2px;
}
.btn:hover {
    background: #ccccff;
}
.album-controls {
    padding-bottom: 2px;
    height: 36px;
}
.album-controls .typeahead {
    display: none;
}
.album-controls:hover .typeahead {
    display: inline-block;
}
.album .pieces {
    height: 28px;
    margin-bottom: 6px;
}
.album .hyperlink.componist {
    color: brown;
}
.album .hyperlink.performer {
    color: #1e347b;
}
.performer-years {
    margin-top: 220px;
}
.input-album,
.delete-album {
    width: 90px;
}
.componisten .add {
    position: relative;
    top: 3px;
}