{% extends "flac/base.html" %}
{% load static %}
{% load page_tags %}
{% block title %}
    {{ album.Title }}
{% endblock %}
{% block page %}
<div class="album">
    <form>{% csrf_token %}</form>
    <input type="hidden" id="album_id" value="{{ album.ID }}">
    {% album_controls album.ID %}
<img src="/image/{{ album.ID }}/album/"
     class="album-image">
<img src="/imageback/{{ album.ID }}/album/"
     class="album-image">
<h4>
    <span class="ID">{{ album.ID }}
            <div class="fa fa-times-circle remove" id="{{ person.ID }}"></div>
        </span>
    <span contenteditable="true" class="edit-title">:
    {{ album.Title }}
    </span>
</h4>
{% for tag in album_tags %}
    <i class="tag hyperlink"><a href="/tag/{{ tag.ID }}">{{ tag.Name }}</a>
        <div class="fa fa-times-circle remove" id="{{ tag.ID }}"></div>
    </i>,
{% endfor %}
{% persons_list album_componisten '/componist/' 'componist' %}
{% persons_list album_performers '/performer/' 'performer' %}
{%  album_instrument_list album_instrument  %}
<div class="clear nav">
{#    {% album_collection_list album mother_title %}#}
    {% pages prev_id next_id mother_title 'album' album.AlbumID %}
    {% pages prev_list_id next_list_id list_title list_name list_id %}
    {% cuesheetlist cuesheets 1 %}
    {% cuesheetlist invalidcues 0 %}
    {% pieceslist pieces %}
    <div class="hyperlink">
    {% if notfounds|length %}
    Niet gevonden: {{ notfounds|length }} |
    {% endif %}
        <a class="refetch">Haal opnieuw de stukken op</a>
        {% if has_subdirs %}|
    <a class="make-subs">Maak cuelist voor subdirectories</a> |
            <a class="inherit-elements">erf eigenschappen</a>
    {% endif %}
    </div>
    {% if show_proposals == '1' %}
        {% proposallist proposals artists %}
    {% endif %}
    {% alfabet %}
    {% albumlist albums %}
    </div>
</div>
{% endblock %}