{% extends "flac/base.html" %}
{% load static %}
{% load page_tags %}
{% block title %}
    {{ album.Title }}
{% endblock %}
{% block page %}
<div class="album">
    <form>{% csrf_token %}</form>
    <input type="hidden" id="album_id" value="{{ album.ID }}">
    {% album_controls album.ID %}
<img src="/albumimage/{{ album.ID }}/"
     class="album-image">
<img src="/albumimage/{{ album.ID }}/back/"
     class="album-image">
<h4 contenteditable="true" class="edit-title">
    <span class="ID">{{ album.ID }}</span>:
    {{ album.Title }}
</h4>
<hr>
{% for tag in album_tags %}
    <i class="tag hyperlink"><a href="/tag/{{ tag.ID }}">{{ tag.Name }}</a>
        <div class="fa fa-times-circle remove" id="{{ tag.ID }}"></div>
    </i>,
{% endfor %}
{% if album.AlbumID %}
    <div class="hyperlink">
        <span>Collectie: </span>
        <a href="/album/{{ album.AlbumID }}">{{ mother_title }}</a>
    </div>
{% endif %}
{% persons_list album_componisten '/componist/' 'componist' %}
{% persons_list album_performers '/performer/' 'performer' %}
{% if album_instrument %}
    <div class="hyperlink instrument">
        <a href="/instrument/{{ album_instrument.ID }}/">
            {{ album_instrument.Name }}
        </a>
        <div class="fa fa-times-circle remove" id="{{ instrument.ID }}"></div>
        <a href="/instrument/{{ album_instrument.ID }}/">
            <div class="thumbnail-container">
            <img class="thumbnail" src="/image/{{ album_instrument.Name }}/instrument">
                </div>
        </a>
    </div>
{% endif %}
<div class="clear nav">
    <a href="/prev/{{ album.ID }}">prev</a> |
    <a href="/next/{{ album.ID }}">next</a>
</div>
{% cuesheetlist cuesheets %}
{% pieceslist pieces %}
<div class="hyperlink">
{% if notfounds|length %}
Niet gevonden: {{ notfounds|length }} |
    <a class="refetch">Haal opnieuw de stukken op</a>
{% endif %}
</div>
{% if show_proposals == '1' %}
    {% proposallist proposals artists %}
{% endif %}
{% albumlist albums %}
</div>
{% endblock %}