{%  load static %}
{%  load page_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{%  block title %}Flac{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.css' %}">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="shortcut icon" type="image/png" href="{% static '/favicon.ico' %}"/>
</head>
<body>
<div class="content">
{% navbar %}
    {% block page %}
    {% endblock %}
</div>
    <script type="application/javascript" src="{%  static 'bower_components/jquery/jquery.min.js' %}"></script>
    <script type="application/javascript" src="{%  static 'bower_components/typeahead.js/dist/typeahead.jquery.min.js' %}"></script>
    <script type="application/javascript" src="{%  static 'js/piece.js' %}"></script>
    <script type="application/javascript" src="{%  static 'js/ajax.js' %}"></script>
    <script type="application/javascript" src="{%  static 'js/componist.js' %}"></script>
    <script type="application/javascript" src="{%  static 'js/performer.js' %}"></script>
    <script type="application/javascript" src="{%  static 'js/instrument.js' %}"></script>
    <script type="application/javascript" src="{%  static 'js/tag.js' %}"></script>
</body>
</html>