{%  load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{%  block title %}Flac{% endblock %}</title>
    <link rel="stylesheet" href="{% static '/css/main.css' %}">
</head>
<body>
<div class="navbar">
    <ul>
        <li><a href="/home/">home</a></li>
        <li><a href="/componist">componist</a></li>
        <li><a href="/performer">artiest</a></li>
        <li><a href="/instrument">instrument</a></li>
        <li><a href="/album">album</a></li>
    </ul>


</div>
<div class="content">
    {% block page %}
    {% endblock %}
</div>
    <script type="application/javascript" src="{%  static '/bower_components/jquery/jquery.min.js' %}"></script>
    <script type="application/javascript" src="{%  static '/scripts/piece.js' %}"></script>
</body>
</html>