{% extends "flac/base.html" %}
{% load page_tags %}
{% block title %}
    {{ componist.FullName }}
{% endblock %}
{% block page %}
    <div class="w3-row componist">
        <form>
            {% csrf_token %}
            <input type="hidden" id="componist_id" value="{{ componist.ID }}">
        </form>
        <div class="w3-col m2 5">
            <span class="hyperlink btn">
                <a onclick="openfinder('{{ componist.ID }}', 'componist')">open finder</a>
            </span> |
            <span>
                <a target="_blank"
                   href="https://google.nl/search?q={{ componist.FullName }}">google</a>
            </span>
            <div id="drop-area-componist">
                <h4>
                    <span contenteditable="true" name="title"
                          class="edit-componist-name" componist_id="{{ componist.ID }}">
                        {{ componist.FullName }}
                    </span>
                    <span>({{ items.children|length }})</span>
                </h4>
                <img src="/componistimage/{{ componist.ID }}/" class="instrument-image">
                <h4 class="performer-years">
                    <span contenteditable="true" name="years" class="edit-componist-years"
                          componist_id="{{ componist.ID }}">
                    {{ componist.Birth }} - {% if componist.Death %}{{ componist.Death }}{% endif %}
                    </span>
                </h4>
            </div>
        </div>
        <div class="w3-col m10 19">
            {% albumlist items.mothers %}
            <div class="clear"></div>
            {% albumlist items.children %}
        </div>
    </div>
{% endblock %}