{% extends "flac/base.html" %}
{% load static %}
{% load page_tags %}
{% block title %}Extra{% endblock %}
{% block page %}
<div class="extra">
    <form>{% csrf_token %}
<div>
    <input type="text" placeholder="zoek album" class="typeahead general">
</div>
    </form>
    <div class="hyperlink">
        <a href="{% url 'cmd' 'k' %}">Scarlatti K-lijst</a>
    </div>
    <div class="hyperlink">
        <div class="checkbox fa
               {%  if read_cuesheet == '1' %}
               fa-check
               {% endif %}">
        </div>
            <a href="{% url 'cmd' 'cue' %}">lees cuesheets in voor album</a>
    </div>
    <div class="hyperlink">
        <div class="checkbox fa
               {%  if show_proposals == '1' %}
               fa-check
               {% endif %}">
        </div>
            <a href="{% url 'cmd' 'proposals' %}">toon voorstellen op album pagina</a>
    </div>
        <input class="add-componist-extra" type="text" placeholder="Voeg componist toe">
        <span class="componist-extra-added"></span>
    <table>
    <tr>
        <td>naar album</td>
        <td><input class="input-album" placeholder="ID"></td>
    </tr>
    <tr>
        <td>delete album</td>
        <td><input class="delete-album" placeholder="ID"></td>
    </tr>
    </table>
<ul>
    <li><a href="{% url 'cmd' 'folder' %}">save clipboard as folder.jpg</a></li>
    <li><a href="{% url 'cmd' 'back' %}">save clipboard as back.jpg</a></li>
    <li><a href="{% url 'cmd' 'folderback' %}">save clipboard as folder.jpg and back.jpg</a></li>
    <li><a href="{% url 'cmd' 'widows' %}">widows lijst</a></li>
</ul>
    {% albumlist albums %}
</div>
{% endblock %}