{% extends "flac/base.html" %}
{% load static %}
{% load page_tags %}
{% block title %}{{ page_title }}{% endblock %}
{% block page %}
    <form>{% csrf_token %}</form>
    <h4>{{ page_title }} ({{ items|length }})</h4>
    {% if scarlatti.ID %}
    <div>
        <img src="/image/{{ scarlatti.ID }}/componist/" class="componist-image">
    </div>
    {% endif %}
    <table cellpadding="4">
        {% for item in items %}
            <tr>
                <td colspan="3">
                    <img src="/image/{{ item.k_code }}/librarycode/" class="librarycode-image">
                </td>
            </tr>
            <tr>
                <td class="code">
                    <a href="{% url 'librarycode' item.k_code librarywild %}">{{ item.k_code }}</a>
                </td>
                <td class="tempo">{{ item.Tempo }}</td>
                <td class="key">{{ item.Key }}</td>
            <td class="paste-score-fragment" code="{{ item.k_code }}">
                plak plaatje {{ item.k_code }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}