{% extends "flac/base.html" %}
{% load static %}
{% load page_tags %}
{% block title %}{{ page_title }}{% endblock %}
{% block page %}
    <div class="librarycodes">
        <form>{% csrf_token %}</form>
        <h4>{{ page_title }} ({{ items|length }})</h4>
        <table cellpadding="4" class="codes-list">
            {% for item in items %}
                <tr>
                    <td colspan="2">
                        <a href="{% url 'librarycode' item.k_code wild %}">
                            <img data-src="/image/{{ item.k_code }}/librarycode/"
                                 class="lazy librarycode-image">
                        </a>
                    </td>
                </tr>
                <tr>
                    <td class="code">
                        <a href="{% url 'librarycode' item.k_code wild %}">
                        <div class="code-line">{{ item.k_code }} - {{ item.Tempo|default_if_none:'' }}
                            - {{ item.Key|default_if_none:'' }} - {{ item.Title|default_if_none:'' }}
                        </div>
                        </a>
                            {% if item.Alias %}
                            <div class="alias">{{ item.Alias|default_if_none:'' }}</div>
                            {% endif %}
                    </td>
                    <td class="paste-score-fragment" code="{{ item.k_code }}">
                                    plak plaatje {{ item.k_code }}</td>
                </tr>
{#                <tr>#}
{#                    <td>#}
{#                        <table>#}
{#                            {% for piece in item.pieces %}#}
{#                                <tr>#}
{#                                    <td class="hyperlink">#}
{#                                        <a onclick="play(this, {{ piece.Piece.ID }})"#}
{#                                        title="Afspelen">#}
{#                                            {{ piece.performers.0.FullName }}#}
{#                                            ({{ piece.Instrument.Name|default_if_none:'' }})#}
{#                                        </a> -#}
{#                                        <a href="{% url 'album' piece.Album.ID %}"#}
{#                                        title="{{ piece.Album.Title }}">#}
{#                                            album#}
{#                                        </a>#}
{#                                    </td>#}
{#                                </tr>#}
{#                            {% endfor %}#}
{#                        </table>#}
{#                    </td>#}
{#                    <td>#}
{#                        <table>#}
{#                            {% for boek in item.pianoboeken %}#}
{#                                <tr>#}
{#                                    <td class="hyperlink">#}
{#                                        <a href="{% url 'pianoboek' boek.ID %}">#}
{#                                            {{ boek.Name }} ({{ boek.Nr }})#}
{#                                        </a>#}
{#                                    </td>#}
{#                                </tr>#}
{#                            {% endfor %}#}
{#                        </table>#}
{#                    </td>#}
{#                </tr>#}

            {% endfor %}
        </table>
    </div>
{% endblock %}