{% extends "flac/base.html" %}
{% load static %}
{% load page_tags %}
{% block title %}{{ librarycode }}{% endblock %}
{% block page %}
    <form>{% csrf_token %}</form>
    <h4>{{ librarycode }} - {{ description }}</h4>
    {% cpages prev_id next_id 'librarycode' wild %}
    <table class="boeken">
    {% for boek in boeken %}
        <tr>
        <td class="boeknr">
            {{ boek.Nr }}
        </td>
        <td class="boeknaam">
            {{ boek.Name }}
        </td>
        <td>{{ boek.Uitgever }}</td>
        </tr>
    {% endfor %}
    </table>
    <div>
        <img src="/image/{{ librarycode }}/librarycode/"
             class="librarycode-image-details">
    </div>
    <h4>{{ code.Title|default_if_none:'' }}</h4>
    <h4>{{ code.Tempo }} - {{ code.Key }} -
        <span class="code-title">{{ code.Alias }}</span> </h4>
    <table class=" stukken">
    {% for item in pieces %}
        <tr class="piece" id="{{ item.ID }}">
            <td class="hyperlink">
                <a onclick="play(this, {{ item.Piece.ID }})"
                   title="Afspelen"
                >
                    {{ item.Piece.Name }}</a>
            </td>
            <td class="instrument">
                {{ item.Instrument.Name }}
            </td>
        <td class="performer">
            {{ item.Performer.Name }}</td>
        <td class="album">
            <a href="/album/{{ item.Album.ID }}">
            {{ item.Album.Title }}</a>
        </td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}