{% extends "flac/base.html" %}
{% load page_tags %}
{% block title %}
    {{ performer.FullName }}
{% endblock %}
{% block page %}
    <div class="w3-row">
        <div class="w3-col m2 5">
            <h4>{{ performer.FullName }} ({{ items|length }})</h4>
            <img src="/performerimage/{{ performer.ID }}/" class="instrument-image">
            <h4>{{ performer.Birth }} - {% if performer.Death %}{{ performer.Death }}{% endif %}</h4>
        </div>
        <div class="w3-col m10 19">
            {% albumlist items.mothers %}
            <div class="clear"></div>
            {% albumlist items.children %}
                    </div>
        </div>
{% endblock %}