{% extends "flac/base.html" %}
{% load page_tags %}
{% block title %}
    {{ performer.FullName }}
{% endblock %}
{% block page %}
    <div class="w3-row performer">
        <form>{% csrf_token %}</form>
        <div class="w3-col m2 5">
            <span class="hyperlink btn">
                <a onclick="openfinderPerformer('{{ performer.ID }}')">open finder</a>
            </span> |
        <span>
            <a target="_blank"
                    href="https://google.nl/search?q={{ performer.FullName }}">google</a>
        </span>
            <h4>
        <span contenteditable="true" name="title"
              class="edit-performer-name" performer_id="{{ performer.ID }}">
            {{ performer.FullName }}
        </span>
                 </h4>
            <img src="/performerimage/{{ performer.ID }}/" class="instrument-image">
            <h4>
                <span contenteditable="true" name="years" class="edit-performer-years"
                      performer_id="{{ performer.ID }}">
                {{ performer.Birth }} - {% if performer.Death %}{{ performer.Death }}{% endif %}
                </span>
            </h4>
        </div>
        <div class="w3-col m10 19">
            {% albumlist items.mothers %}
            <div class="clear"></div>
            {% albumlist items.children %}
                    </div>
        </div>
{% endblock %}