{% extends "flac/base.html" %}
{% load static %}
{% load page_tags %}
{% block page %}
    <form>{% csrf_token %}</form>
    <h1>Scarlatti Sonaten (Kirkpatrick nummering)</h1>
    <table cellpadding="4">
        {% for item in items %}
            <tr>
            <td class="code">{{ item.k_code }}</td>
            <td class="artiest hyperlink">
                <a href="/performer/{{ item.ArtiestID }}">{{ item.Artiest }}</a></td>
            <td class="hyperlink">
                <div onclick="play({{ item.ID }})">{{ item.Name }}</div>
            </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}