{% extends "flac/base.html" %}
{% load static %}
{% load page_tags %}
{% block title %}{{ page_title }}{% endblock %}
{% block page %}
    <form>{% csrf_token %}</form>
    <h2>{{ page_title }} ({{ items|length }})</h2>
    <table cellpadding="4">
        {% for item in items %}
            <tr>
            <td class="code">{{ item.k_code }}</td>
            <td class="artiest hyperlink">
                <a href="/performer/{{ item.Artiest.ID }}">{{ item.Artiest.Name }}</a></td>
            <td class="hyperlink">
                <a href="/instrument/{{ item.Instrument.ID }}">{{ item.Instrument.Name }}</a>
            </td>
            <td class="hyperlink">
                <div onclick="play({{ item.Piece.ID }})">{{ item.Piece.Name }}</div>
            </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}