{% extends "flac/base.html" %}
{% load static %}
{% load page_tags %}
{% block title %}{{ page_title }}{% endblock %}
{% block page %}
    <form>{% csrf_token %}</form>
    <h4>{{ page_title }} ({{ pieces|length }})</h4>
    <table class="boeken">
    {% for boek in boeken %}
        <tr>
        <td class="boeknr">
            {{ boek.Nr }}
        </td>
        <td class="boeknaam">
            {{ boek.Name }}
        </td>
        <td>{{ boek.Uitgever }}</td>
        </tr>
    {% endfor %}
    </table>
    <div>
        <img src="/image/{{ librarycode }}/librarycode/" class="librarycode-image">
    </div>
    <table class=" stukken">
    {% for item in pieces %}
        <tr class="piece" id="{{ item.ID }}">
            <td class="hyperlink">
                <a onclick="play(this, {{ item.Piece.ID }})">
                    {{ item.Piece.Name }}</a>
            </td>
            <td class="instrument">
                {{ item.Instrument.Name }}
            </td>
        <td class="performer">
            {{ item.Performer.Name }}</td>
        <td class="album">
            <a href="/album/{{ item.Album.ID }}">
            {{ item.Album.Title }}</a>
        </td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}