{% extends "flac/base.html" %}
{% load page_tags %}
{% block title %}
    search: {{ query }}
{% endblock %}
{% block page %}
<div class="search">
    <form>
<div class="upload-controls">
    <ul>
        <li class="componist">
            <input class="typeahead" type="text" placeholder="Componist" value="{{ componist_name }}">
            <input type="hidden" name="componist">
            <span class="clear">x</span>
        </li>
        <li class="tag">
            <input class="typeahead" type="text" placeholder="Tag" value="{{ tag_name }}">
            <input type="hidden" name="tag">
            <span class="clear">x</span>
        </li>
        <li class="performer">
            <input class="typeahead" type="text" placeholder="Performer" value="{{ performer_name }}">
            <input type="hidden" name="performer">
            <span class="clear">x</span>
        </li>
        <li class="instrument">
            <input class="typeahead" type="text" placeholder="Solo instrument" value="{{ instrument_name }}">
            <input type="hidden" name="instrument">
            <span class="clear">x</span>
        </li>
    </ul>
</div>
        <input type="submit" value="verzenden">
        <input type="submit" value="widows">
    </form>
    {% albumlist mothers %}
    <div class="clear"></div>
    {% albumlist children %}
</div>
{% endblock %}