{% extends "flac/base.html" %}
{% load page_tags %}
{% block title %}
    upload
{% endblock %}
{% block page %}
    <div id="drop-album">
    <h4>upload</h4>
    <input type="text" class="upload-album-path" placeholder="pad">
        <div class="upload-album">
            <span class="title"></span> -
            <span class="id"></span>
        </div>
        <ul class="hyperlink">
            <li>
                <a class="corrigeer-cover-namen">normaliseer cover namen</a>
            </li>
            <li>
                <a class="big-cover-namen">corrigeer 'big' cover namen</a>
            </li>
            <li>
                <a class="normaliseer-paden">normaliseer paden (accolades)</a>
            </li>
        </ul>
    {% upload_controls %}
        <table>
            <tr>
                <td><input type="checkbox" class="check-collection"></td>
                <td>Collection</td>
            </tr>
            <tr>
                <td><input type="checkbox" class="check-stepin"></td>
                <td>Stepin</td>
            </tr>
        </table>
    <button class="upload fa fa-upload">ga</button>
    </div>
{% endblock %}