<div style="position:relative;">
<ul class="album-list">
    {% for item in albums %}
        <li id="{{ item.ID }}"
                class="hyperlink
{% if item.mother %}
mother-album
{% endif %}
">
    <img src="/albumimage/{{ item.ID }}/"
         class="album-image-thumb">
    <div class="title">
        {{ item.Title }} - {{ item.Componist }}
    </div>
        </li>
    {% endfor %}
</ul>

<div class="album-details hyperlink">
    {% album_controls album.ID %}
    <img src="/albumimage/{{ item.ID }}/"
         class="album-image expanded">
    <a class="link" href="/album/{{ item.ID }}/">
    <div class="title">
        {{ item.Title }} - {{ item.Componist }}
    </div>
    </a>
</div>
</div>
