<div style="position:relative;">
<ul class="album-list">
    {% for item in albums %}
        <li id="{{ item.ID }}"
                class="hyperlink
{% if item.mother %}
mother-album
{% endif %}
">

    <a href="/album/{{ item.ID }}/
{% if list_name %}
{{ list_name }}/{{ list_id }}
{% endif %}
">
        <div class="image-container">
            <img src="/image/{{ item.ID }}/album/"
                 class="album-image-thumb">
        </div>
        <div class="title">
            {{ item.Title }} - <span class="componist-name">{{ item.Componist }}</span>
            {% if item.TagName %} - <span class="tag-name">{{ item.TagName }}</span>
            {% endif %}
        </div>
    </a>
</li>
    {% endfor %}
</ul>

</div>
