<div style="position:relative;">
<a class="test-scroll">test scroll</a>
<ul class="album-list">
    {% for item in albums %}
        <li id="{{ item.ID }}"
                class="hyperlink
{% if item.mother %}
mother-album
{% endif %}
">
    <a href="/album/{{ item.ID }}/">
        <div class="image-container">
            <img src="/albumimage/{{ item.ID }}/"
                 class="album-image-thumb">
        </div>
        <div class="title">
            {{ item.Title }} - {{ item.Componist }}
        </div>
    </a>
</li>
    {% endfor %}
</ul>

</div>
