<ul class="album-list">
    {% for item in items %}
        <li class="hyperlink">
        <div class="image-container">
            <a href="/componist/{{ item.ID }}">
                <img src="/componistimage/{{ item.ID }}/" class="album-image-thumb">
            </a>
            <a href="/componist/{{ item.ID }}">
            <input type="hidden" value="{{ item.LastName }}" class="last-name">
                <div class="componist-naam" componistid="{{ item.ID }}">{{ item.FullName }}</div>
                <div class="jaren">{{ item.Birth }} -
                    {% if item.Death %}
                        {{ item.Death }}
                    {% endif %}
                ({{ item.Albums }})
                </div>
            </a>
        </div>
        </li>
    {% endfor %}
</ul>
