{% load page_tags %}
{% for cuesheet in cuesheets %}
    <div {% if not valid %}
            class="error"
            {% endif %}
    >
        <div class="hyperlink cuesheet">
            <a onclick="play({{ cuesheet.ID }})">{{ cuesheet.Filename }}</a>
        {% if not valid %}
            <span class="rename-cuesheet" id="{{ cuesheet.ID }}">rename</span>
        {% endif %}
        </div>
        <ul class="cue">
        <li class="cue-header">
            {% if cuesheet.Title %}
            {{ cuesheet.Title|unescape }}
            {% endif %}
            <i class="toggle-cue-lines fa fa-caret-right"></i>
            <span class="cue-plus">+</span>
        </li>
        {%  if cuesheet.cue.performer %}
        <li class="ID">{{ cuesheet.cue.performer|unescape }}</li>
        {% endif %}
        {% for file in cuesheet.cue.files %}
            {%  for track in file.tracks %}
                {% if track.title %}
                <li class="content cue-lines">{{ track.title|unescape }}</li>
                {% endif %}
            {% endfor %}
        {% endfor %}
        </ul>
    </div>
{% endfor %}
