<ul class="album-list">
    {% for item in items %}
        <li class="hyperlink">
            <a href="/performer/{{ item.ID }}">
                <img src="/performerimage/{{ item.ID }}/" class="album-image-thumb">
            <div class="performer-naam" performerid="{{ item.ID }}">{{ item.FullName }}</div>
                <div class="jaren">{{ item.Birth }} -
                    {% if item.Death %}
                        {{ item.Death }}
                    {% endif %}
                ({{ item.Albums }})
                </div>
            </a>
        </li>
    {% endfor %}
</ul>
