<ul class="album-list">
    {% for item in items %}
        <li class="hyperlink">
        <div class="image-container">
            <a href="/performer/{{ item.ID }}">
                <input type="hidden" value="{{ item.LastName }}" class="last-name">
                <img data-src="/image/{{ item.ID }}/performer/"
                     class="album-image-thumb lazy">
            <div class="performer-naam" performerid="{{ item.ID }}">{{ item.FullName }}</div>
                <div class="jaren">{{ item.Birth }} -
                    {% if item.Death %}
                        {{ item.Death }}
                    {% endif %}
                ({{ item.Albums }})
                </div>
            </a>
        </div>
        </li>
    {% endfor %}
</ul>
