{% if pieces|length %}
<div class="pieces">Stukken ({{ pieces | length }})
    <i class="toggle-content fa fa-caret-right"></i>
</div>
    <table class="content stukken">
    <tr>
        <td>
            <input class="album-componist typeahead" type="text" placeholder="Componist">
            <span class="album-componist-to-make">&gt;</span>
            <input class="make-cuesheet" placeholder="make cuesheet">&nbsp;
            <a class="test-lcs">lcs</a> |
            <a class="create-cuesheet">create</a> |
            <a class="kk">kirkpatrick (Kk)</a>
        </td>
    </tr>
    <tr>
        <td class="hyperlink control">
            <a class="check-all">alles selecteren</a> |
            <a class="check-nothing">niets selecteren</a>
        </td>
    </tr>
    {% for item in pieces %}
        <tr class="piece" id="{{ item.1 }}">
            <td class="hyperlink">
                <input type="checkbox" title="voeg titel toe aan cuesheet"
                       id="{{ item.1 }}"
                       class="select-for-cuesheet">
                <a onclick="play({{ item.1 }})">{{ item.0 }}</a>
            </td>
        </tr>
    {% endfor %}
</table>
{% endif %}